{% extends 'base.html' %}
{% load forum %}
{% load cache %}

{% block title %}Forum - {{ block.super }}{% endblock %}

{% block content %}
    {% for section in sections|sections_readable_by:user %}
        <h3>{{ section.title }}</h3>
        <div class="container layout-control">
        {% for board in section|boards_readable_by:user %}
            <div class="row forum-board-row">
                <div class="col-sm-5">
                    <a href="{% url 'forum:threads' board.id %}">{{ board.title }}</a><br />
                    <small class="text-muted">{{ board.description }}</small>
                </div>
                <div class="col-sm-1 text-center">
                    {% if user.is_authenticated and board.new_posts_count %}
                        {{ board.new_posts_count }}<br />
                        <small class="text-info">New posts</small>
                    {% endif %}
                </div>
                <div class="col-sm-1 text-center">
                    {{ board.total_threads }}<br />
                    <small class="text-muted">Threads</small>
                </div>
                <div class="col-sm-1 text-center">
                    {{ board.total_posts }}<br />
                    <small class="text-muted">Posts</small>
                </div>
                <div class="col-sm-4 text-right {% if user.is_authenticated and board.new_posts_count %}prio-link{% endif %}">
                    <a href="{% url 'forum:posts' board.id board.latest_post.thread.id %}?page={{ board.latest_post|page_for:user }}#{{ board.latest_post.id }}">
                        {{ board.latest_post.thread.title }}<br />
                        <small class="text-muted">{{ board.latest_post.user.profile.alias }}, {{ board.latest_post.created_at }}</small>
                    </a>
                </div>
            </div>
        {% endfor %}
        </div>
    {% endfor %}

    <div class="btn-group layout-control" role="group" aria-label="Management buttons">
        <a href="{% url 'forum:mark_all_read' %}" type="button" class="btn btn-secondary">Mark all read</a>
    </div>
{% endblock %}

