django==3.2.15
django-imagekit==4.0.2
django-redis==5.0.0
django-crispy-forms==1.12.0
django-silk==4.1.0
django-recaptcha==2.0.6
django-timezone-field==4.1.2
django-csp==3.7
django-csp-reports==1.4
djangorestframework==3.12.4
Pillow==9.3.0
sentry-sdk==1.1.0
argon2-cffi==20.1.0
django-precise-bbcode==1.2.13
pytz==2021.1
celery==5.2.2
requests==2.25.1
