django==2.2.17
arrow==0.17.0
django-imagekit==4.0.2
django-redis==4.12.1
django-crispy-forms==1.9.2
django-silk==4.1.0
django-recaptcha==2.0.6
django-timezone-field==4.0
django-csp==3.7
django-csp-reports==1.4
djangorestframework==3.12.2
Pillow==8.0.1
raven==6.10.0
argon2-cffi==20.1.0
django-precise-bbcode==1.2.13
pytz==2020.4
celery==5.0.2
requests==2.24.0
